<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      lang="en" 
      data-pc-preset="preset-1" 
      data-pc-sidebar-caption="true" 
      data-pc-direction="ltr" 
      dir="ltr" 
      data-pc-theme="light">
    <!-- [Head] start -->

    <head th:fragment="head"> <!-- hacer el llamado del fragmento -->
        <title th:text="${titulo} ? ${titulo} : 'Sistema Bancario | Datta Able'">Sistema Bancario | Datta Able</title>
        <!-- [Meta] -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="Sistema Bancario para gestión de clientes, cuentas y transacciones"
            />
        <meta
            name="keywords"
            content="bancario, clientes, cuentas, spring boot, dashboard"
            />
        <meta name="author" content="UTC" />

        <!-- [Favicon] icon -->
        <link rel="icon" th:href="@{/plantilla/Datta/dist/assets/images/favicon.svg}" type="image/x-icon" />

        <!-- [Font] Family -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
        <!-- [phosphor Icons] https://phosphoricons.com/ -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/fonts/phosphor/duotone/style.css}" />
        <!-- [Tabler Icons] https://tablericons.com -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/fonts/tabler-icons.min.css}" />
        <!-- [Feather Icons] https://feathericons.com -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/fonts/feather.css}" />
        <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/fonts/fontawesome.css}" />
        <!-- [Material Icons] https://fonts.google.com/icons -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/fonts/material.css}" />
        <!-- [Template CSS Files] -->
        <link rel="stylesheet" th:href="@{/plantilla/Datta/dist/assets/css/style.css}" id="main-style-link" />
        
        <!-- Importando jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <!-- Importando jquery validation -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js" ></script>
        <!-- Importando SweetAlert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Importando archivos js de bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Importar css de bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Importando iconos de font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- importando datatables-->
        <link rel="stylesheet" href="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
        <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>

        <!-- Botones de exportación (versión compatible) -->
        <script src="https://cdn.datatables.net/buttons/2.3.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.1/js/buttons.print.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.1/css/buttons.dataTables.min.css">


        <!-- Librerías para exportación -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

        <!-- ImpoRTANDO FILE INPUT-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/js/fileinput.min.js" integrity="sha512-0wQvB58Ha5coWmcgtg4f11CTSSxfrfLClUp9Vy0qhzYzCZDSnoB4Vhu5JXJFs7rU24LE6JsH+6hpP7vQ22lk5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.4/css/fileinput.min.css" integrity="sha512-yDVMONIXJPPAoULZ92Ygngsn8ZUGB4ejm6fCc6q9ZvdH8blFAOgg75XZSEaAJ5m4E/yPI1BAi5fF2axMHVuZ5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Bloque para estilos adicionales en páginas hijas -->
        <th:block th:replace="${fragmentosCss} ?: ~{}" />
    </head>
    <!-- [Head] end -->
    <!-- [Body] Start -->

    <body>
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg fixed inset-0 bg-white dark:bg-themedark-cardbg z-[1034]">
            <div class="loader-track h-[5px] w-full inline-block absolute overflow-hidden top-0">
                <div class="loader-fill w-[300px] h-[5px] bg-primary-500 absolute top-0 left-0 animate-[hitZak_0.6s_ease-in-out_infinite_alternate]"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->
        <!-- [ Sidebar Menu ] start -->
        <nav class="pc-sidebar" th:fragment="sidebar"> <!-- añadir fragmento de nav -->
            <div class="navbar-wrapper">
                <div class="m-header flex items-center py-4 px-6 h-header-height">
                    <a th:href="@{/plantilla/Datta/dist/dashboard/index.html}" class="b-brand flex items-center gap-3">
                        <!-- ========   Change your logo from here   ============ -->
                        <img th:src="@{/plantilla/Datta/dist/assets/images/logo-white.svg}" class="img-fluid logo logo-lg" alt="logo" />
                        <img th:src="@{/plantilla/Datta/dist/assets/images/favicon.svg}" class="img-fluid logo logo-sm" alt="logo" />
                    </a>
                </div>
                <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
                    <ul class="pc-navbar">
                        <li class="pc-item pc-caption">
                            <label>Navigation</label>
                        </li>
                        <li class="pc-item">
                        <li class="pc-item">
                        
                            <a href="" class="pc-link">
                                <span class="pc-micon">
                                    <i data-feather="home"></i>
                                </span>
                                <span class="pc-mtext">Dashboard</span>
                            </a>
                        </li>
                        <li class="pc-item pc-caption">
                            <label>Gestión de Clientes</label>
                            <i data-feather="users"></i>
                        </li>
                        <li class="pc-item pc-hasmenu">
                            <a th:href="@{/clientes}" class="pc-link">
                                <span class="pc-micon"> <i data-feather="list"></i></span>
                                <span class="pc-mtext">Listar Clientes</span>
                            </a>
                        </li>
                        <li class="pc-item pc-hasmenu">
                            <a th:href="@{/cuentas}" class="pc-link">
                                <span class="pc-micon"> <i data-feather="user-plus"></i></span>
                                <span class="pc-mtext">Listar Cuentas</span>
                            </a>
                        </li>

                        <li class="pc-item pc-caption">
                            <label>Reportes</label>
                            <i data-feather="bar-chart-2"></i>
                        </li>
                        <li class="pc-item pc-hasmenu">
                            <a href="#" class="pc-link">
                                <span class="pc-micon"> <i data-feather="file-text"></i></span>
                                <span class="pc-mtext">Reportes PDF</span>
                            </a>
                        </li>
                        <li class="pc-item pc-hasmenu">
                            <a href="#" class="pc-link">
                                <span class="pc-micon"> <i data-feather="pie-chart"></i></span>
                                <span class="pc-mtext">Estadísticas</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- [ Sidebar Menu ] end -->
        <!-- [ Header Topbar ] start -->
        <header class="pc-header" th:fragment="header"> <!-- fragmento de header -->
            <div class="header-wrapper flex max-sm:px-[15px] px-[25px] grow"><!-- [Mobile Media Block] start -->
                <div class="me-auto pc-mob-drp">
                    <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                        <!-- ======= Menu collapse Icon ===== -->
                        <li class="pc-h-item pc-sidebar-collapse max-lg:hidden lg:inline-flex">
                            <a href="#" class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="sidebar-hide">
                                <i data-feather="menu"></i>
                            </a>
                        </li>
                        <li class="pc-h-item pc-sidebar-popup lg:hidden">
                            <a href="#" class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="mobile-collapse">
                                <i data-feather="menu"></i>
                            </a>
                        </li>
                        <li class="dropdown pc-h-item">
                            <a class="pc-head-link dropdown-toggle me-0" data-pc-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="search"></i>
                            </a>
                            <div class="dropdown-menu pc-h-dropdown drp-search">
                                <form class="px-2 py-1">
                                    <input type="search" class="form-control !border-0 !shadow-none" placeholder="Search here. . ." />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- [Mobile Media Block end] -->
                <div class="ms-auto">
                    <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                        <li class="dropdown pc-h-item">
                            <a class="pc-head-link dropdown-toggle me-0" data-pc-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="sun"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                                <a href="#!" class="dropdown-item" onclick="layout_change('dark')">
                                    <i data-feather="moon"></i>
                                    <span>Dark</span>
                                </a>
                                <a href="#!" class="dropdown-item" onclick="layout_change('light')">
                                    <i data-feather="sun"></i>
                                    <span>Light</span>
                                </a>
                                <a href="#!" class="dropdown-item" onclick="layout_change_default()">
                                    <i data-feather="settings"></i>
                                    <span>Default</span>
                                </a>
                            </div>
                        </li>
                        <li class="dropdown pc-h-item">
                            <a class="pc-head-link dropdown-toggle me-0" data-pc-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="settings"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-user"></i>
                                    <span>My Account</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-settings"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-headset"></i>
                                    <span>Support</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-lock"></i>
                                    <span>Lock Screen</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ti ti-power"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                        <li class="dropdown pc-h-item">
                            <a class="pc-head-link dropdown-toggle me-0" data-pc-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="bell"></i>
                                <span class="badge bg-success-500 text-white rounded-full z-10 absolute right-0 top-0">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown p-2">
                                <div class="dropdown-header flex items-center justify-between py-4 px-5">
                                    <h5 class="m-0">Notifications</h5>
                                    <a href="#!" class="btn btn-link btn-sm">Mark all read</a>
                                </div>
                                <div class="dropdown-body header-notification-scroll relative py-4 px-5"
                                    style="max-height: calc(100vh - 215px)">
                                    <p class="text-span mb-3">Today</p>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="flex gap-4">
                                                <div class="shrink-0">
                                                    <img class="img-radius w-12 h-12 rounded-0" th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-1.jpg}" alt="Generic placeholder image" />
                                                </div>
                                                <div class="grow">
                                                    <span class="float-end text-sm text-muted">2 min ago</span>
                                                    <h5 class="text-body mb-2">UI/UX Design</h5>
                                                    <p class="mb-0">
                                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                        printer took a galley of
                                                        type and scrambled it to make a type
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="flex gap-4">
                                                <div class="shrink-0">
                                                    <img class="img-radius w-12 h-12 rounded-0" th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-2.jpg}" alt="Generic placeholder image" />
                                                </div>
                                                <div class="grow">
                                                    <span class="float-end text-sm text-muted">1 hour ago</span>
                                                    <h5 class="text-body mb-2">Message</h5>
                                                    <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-span mb-3 mt-4">Yesterday</p>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="flex gap-4">
                                                <div class="shrink-0">
                                                    <img class="img-radius w-12 h-12 rounded-0" th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-3.jpg}" alt="Generic placeholder image" />
                                                </div>
                                                <div class="grow ms-3">
                                                    <span class="float-end text-sm text-muted">2 hour ago</span>
                                                    <h5 class="text-body mb-2">Forms</h5>
                                                    <p class="mb-0">
                                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                        printer took a galley of
                                                        type and scrambled it to make a type
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="flex gap-4">
                                                <div class="shrink-0">
                                                    <img class="img-radius w-12 h-12 rounded-0" th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-4.jpg}" alt="Generic placeholder image" />
                                                </div>
                                                <div class="grow ms-3">
                                                    <span class="float-end text-sm text-muted">12 hour ago</span>
                                                    <h5 class="text-body mb-2">Challenge invitation</h5>
                                                    <p class="mb-2">
                                                        <strong>Jonny aber</strong>
                                                        invites to join the challenge
                                                    </p>
                                                    <button class="btn btn-sm btn-outline-secondary me-2">Decline</button>
                                                    <button class="btn btn-sm btn-primary">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="flex gap-4">
                                                <div class="shrink-0">
                                                    <img class="img-radius w-12 h-12 rounded-0" th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-5.jpg}" alt="Generic placeholder image" />
                                                </div>
                                                <div class="grow ms-3">
                                                    <span class="float-end text-sm text-muted">5 hour ago</span>
                                                    <h5 class="text-body mb-2">Security</h5>
                                                    <p class="mb-0">
                                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                        printer took a galley of
                                                        type and scrambled it to make a type
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center py-2">
                                    <a href="#!" class="text-danger-500 hover:text-danger-600 focus:text-danger-600 active:text-danger-600">
                                        Clear all Notifications
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown pc-h-item header-user-profile">
                            <a class="pc-head-link dropdown-toggle arrow-none me-0" data-pc-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" data-pc-auto-close="outside" aria-expanded="false">
                                <i data-feather="user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown p-2 overflow-hidden">
                                <div class="dropdown-header flex items-center justify-between py-4 px-5 bg-primary-500">
                                    <div class="flex mb-1 items-center">
                                        <div class="shrink-0">
                                            <img th:src="@{/plantilla/Datta/dist/assets/images/user/avatar-2.jpg}" alt="user-image" class="w-10 rounded-full" />
                                        </div>
                                        <div class="grow ms-3">
                                            <h6 class="mb-1 text-white">Carson Darrin 🖖</h6>
                                            <span class="text-white">carson.darrin@company.io</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-body py-4 px-5">
                                    <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 225px)">
                                        <a href="#" class="dropdown-item">
                                            <span>
                                                <svg class="pc-icon text-muted me-2 inline-block">
                                                    <use xlink:href="#custom-setting-outline"></use>
                                                </svg>
                                                <span>Settings</span>
                                            </span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span>
                                                <svg class="pc-icon text-muted me-2 inline-block">
                                                    <use xlink:href="#custom-share-bold"></use>
                                                </svg>
                                                <span>Share</span>
                                            </span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span>
                                                <svg class="pc-icon text-muted me-2 inline-block">
                                                    <use xlink:href="#custom-lock-outline"></use>
                                                </svg>
                                                <span>Change Password</span>
                                            </span>
                                        </a>
                                        <div class="grid my-3">
                                            <button class="btn btn-primary flex items-center justify-center">
                                                <svg class="pc-icon me-2 w-[22px] h-[22px]">
                                                    <use xlink:href="#custom-logout-1-outline"></use>
                                                </svg>
                                                Logout
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- [ Header ] end -->

        <!-- [ Main Content ] start -->
        <div class="pc-container">
            <div class="pc-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="page-header-title">
                            <h5 class="mb-0 font-medium" th:text="${subtitulo} ? ${subtitulo} : 'Dashboard'">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item" aria-current="page">Default</li>
                        </ul>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                
                <!-- CONTENIDO PRINCIPAL - Se reemplaza en cada página -->
                
                <div th:replace="~{::contenidoPrincipal}">
                    <!-- Este contenido será reemplazado en las páginas hijas -->
                </div>
                
                
            </div>
        </div>
        <!-- [ Main Content ] end -->
        
        <!-- Footer -->
        <footer class="pc-footer" th:fragment="footer"> <!-- fragmento de footer -->
            <div class="footer-wrapper container-fluid mx-10">
                <div class="grid grid-cols-12 gap-1.5">
                    <div class="col-span-12 sm:col-span-6 my-1">
                        <p class="m-0">
                            <a href="https://codedthemes.com/" class="text-theme-bodycolor dark:text-themedark-bodycolor hover:text-primary-500 dark:hover:text-primary-500" target="_blank">Sistema Bancario</a>
                            , Desarrollado por Alex Iza ♥ UTC.
                        </p>
                    </div>
                    <div class="col-span-12 sm:col-span-6 my-1 justify-self-end">
                        <p class="inline-block max-sm:mr-3 sm:ml-2">Desarrollo y Aplicaciones Web <a href="https://themewagon.com" target="_blank">Themewagon</a></p>
                    </div>
                </div>
            </div>
        </footer>
		
        <!-- fragmento de scripts -->
		<div th:fragment="scripts"> 
			<script th:src="@{/plantilla/Datta/dist/assets/js/plugins/simplebar.min.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/plugins/popper.min.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/icon/custom-icon.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/plugins/feather.min.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/component.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/theme.js}"></script>
	        <script th:src="@{/plantilla/Datta/dist/assets/js/script.js}"></script>
		</div>
        

        <div class="floting-button fixed bottom-[50px] right-[30px] z-[1030]">
        </div>

        <script>
            layout_change('false');
        </script>
        
        <script>
            layout_theme_sidebar_change('dark');
        </script>
        
        <script>
            change_box_container('false');
        </script>
        
        <script>
            layout_caption_change('true');
        </script>
        
        <script>
            layout_rtl_change('false');
        </script>
        
        <script>
            preset_change('preset-1');
        </script>
        
        <script>
            main_layout_change('vertical');
        </script>

        <!-- Scripts adicionales de páginas hijas -->
        <th:block th:replace="${scriptsAdicionales} ?: ~{}" />

        <!-- Mensajes de SweetAlert -->
        <th:block th:if="${mensaje}">
            <script>
                Swal.fire({
                    title: "¡Éxito!",
                    text: "[[${mensaje}]]",
                    icon: "success",
                    timer: 3000,
                    showConfirmButton: false
                });
            </script>
        </th:block>

        <style>
            .error{
                color: red;
                font-weight: bold;
            }

            .form-control.error{
                border:1px solid red;
            }
        </style>
        
        <!-- Scripts específicos de la página actual -->
        <th:block th:insert="${scriptsPagina} ?: ~{}" />
    </body>
    <!-- [Body] end -->
</html>